<div class="services-sidebar">
  <div class="block">

      <div class="title">Our Services</div>
      <ul class="services-menu">
          <li><a routerLink="/services/interior-designs">Interior Designs</a></li>
          <li><a routerLink="/services/automation-systems">Automation Systems</a></li>
          <li><a routerLink="/services/financial-analysis">Financial Analysis</a></li>
          <li><a routerLink="/services/marketing-analysis">Marketing Analysis</a></li>
          <li><a routerLink="/services/corporate-brand-development">Corporate Brand Development</a></li>
          <li><a routerLink="/services/human-resource-management">Human Resource Management</a></li>
          <li><a routerLink="/services/management-analysis">Management Analysis</a></li>
          <li><a routerLink="/services/IT-systems">IT Systems</a></li>
          <li><a routerLink="/services/legal-team">Legal Team</a></li>
      </ul>

      <!-- <div class="title">Our Brochures</div>

      <ul class="brochures-menu">
          <li><a class="pdf" href="#"><i class="fa  fa-file-pdf-o"></i> Download PDF</a></li>
          <li><a class="word" href="#"><i class="fa fa-file-word-o"></i> Download Word</a></li>
      </ul> -->

      <div class="title">Contact Us</div>
      <div class="contact-info-block call-us">
          <div class="contact-info opacity-7 clearfix">
              <div class="icon"><span class="icon_pin_alt"></span></div>
              <div class="text">
                  Address : <br> P.O. BOX 2587 - 00202 KNH </div>
          </div>
          <div class="contact-info ba-1 opacity-7 clearfix">
              <div class="icon"><span class="icon_mail_alt"></span></div>
              <div class="text">
                  Email : <br> info@ingenious.co.ke </div>
          </div>
          <div class="contact-info opacity-7 clearfix">
              <div class="icon"><span class="icon_phone"></span></div>
              <div class="text">
                  Call Us : <br> +254 (0) 707 938 254 | +254 722 384 322 | +254 (0) 712 345 678 </div>
          </div>
      </div>
  </div>
</div>
